@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    border-radius: 11px;
}

window#waybar {
    background-color: transparent;
    color: @background;
}

#workspaces button.active {
    color: @foreground;
}


#workspaces {
    background-color: @background;
    padding: 0 5.6px 0 0;
    margin-left: 0px;
    margin-right: 12px;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}

#mpd {
    color: @color5; /* Text color */
    background-color: @background; /* Background color */
    margin: 0 15px 0 0; /* Margin on the right */
    padding: 0 15px; /* Padding on the top/bottom and left/right */
    font-size: 12px; /* Adjust font size as needed */
    border-radius: 5px; /* Optional: adds rounded corners */
}

#battery,
#pulseaudio,
#backlight,
#custom-weather {
    color: @color5; /* color5 */
    background-color: @background; /* background */
    margin: 0 15px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#network {
    color: @color2; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#clock {
    color: @color3; /* color3 */
    background-color: @background; /* background */
    margin: 0 15px 0 0;
    padding: 0 15px 0 15px;
}

#network {
    color: @color4; /* color4 */
}

#pulseaudio {
    color: @color5; /* color5 */
}

#backlight {
    color: @color5; /* color5 */
}

#custom-weather {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#custom-media {
    color: @color4; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 15px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#memory {
    color: @color3;
    background-color: @background;
    padding: 0 10px;
    margin: 0 10px;
}
